$enable-cssgrid: true;

@import 'bootstrap/scss/bootstrap.scss';
@import "variables";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background-color;
  overflow-y: auto;
  overflow-x: hidden;
}

.container.main {
  max-width: 1300px;
}

.custom-toast {
  background: red !important;
  color: white !important;
}

.form-container {
  width: 50%;

  @media (max-width: $screen-lg) {
    width: 75%;
  }

  @media (max-width: $screen-sm) {
    width: 100%;
  }

  .form-title {
    color: $secondary-color;
  }

  button {
    color: white;

    &.back-btn {
      background: grey;
    }

    &.submit-btn {
      background: $secondary-color;
    }
  }
}

.grid {
  gap: 10px;
}

.action-icon {
  width: 25px;
  cursor: pointer;
}
